html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: "Dhurjati", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #222629;
  font-size: 24px;
  line-height: 1.3;
}

.header {
position: relative;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  min-height: 140px;
  font-size: 30px;
  position: relative;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 65px;
}

.menu__link {
  position: relative;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 40px;
  color: inherit;
  transition: color 0.3s;
}

.menu__link:hover {
  color: grey;
}

.menu__item--profile:hover {
  .submenu-list {
    display: block;
  }
}

.submenu-list {
  position: absolute;
  display: none;
  z-index: 2;
}

.submenu-list__link {
  color: inherit;
}

.submenu-list__link:hover {
  color: grey;
  transition: color 0.3s;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20px;
}

.user-actions__item:last-child {
  margin-left: 80px;
}

.user-actions__search {
  display: inline-block;
  padding: 15px 20px;
  width: 300px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 30px;
}

.user-actions__search:focus {
  outline: none;
  background-color: white;
  color: black;
}

.user-actions__search-btn {
  padding: 0 20px;
  border: 3px solid white;
  border-radius: 25px;
  background-color: transparent;
  color: inherit;
  line-height: 1.5;
  transition: background-color 0.5s, color .5s;
}

.user-actions__search-btn:hover {
  background-color: white;
  color: #0b0c10;
}


/* catalog-menu */

.catalog-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 190px;
  z-index: 1;
}

.catalog-menu_container {
  display: flex;
  align-items: center;
}

.catalog__inner {
  display: flex;
  justify-content: flex-end;
}

.catalog-menu__dropdown {
  margin-right: 30px;
}

.catalog-menu__btn {
  width: 150px;
  background-color: white;
  color: #0b0c10;
  padding: 10px 20px;
  border: 1px solid #0b0c10;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 30px;
  transition: background-color 0.5s, border-color 0.5s;
}

.catalog-menu__btn:hover {
  background-color: grey;
  border-color: grey;
}

.catalog-menu__text {
  display: block;
}

.catalog-menu__submenu {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 0;
  top: 50px;
  border: 3px solid white;
  background-color: white;
  border-radius: 20px;
  max-width: 200px;
  padding: 0 20px;
}

.catalog-menu__link {
  width: 100%;
  display: block;
  color: #0b0c10;
}
.catalog-menu__link:hover {
  background-color: grey;
}

.show {
  display: block;
  top: 50px;
  transition: top 0.5s;
}


/* index */
.top-main {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url(../images/main/bg-top.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.top-main__inner {
  position: relative;
  min-height: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top-main__title {
  font-size: 90px;
  margin-bottom: 30px;
  min-width: 780px;
  line-height: 1;
}

.top-main__subtitle {
  font-size: 40px;
  max-width: 650px;
  line-height: 1.2;
  margin-bottom: 40px;
}

.advantages {
  padding: 100px 0;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 0 40px;
}

.advantages__item {
  min-width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 5px solid #45a29e;
  border-radius: 30px;
  position: relative;
}

.advantages__image {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages__description {
  padding-top: 10px;
  font-size: 36px;
}

.feedback {
  background-color: #0b0c10;
  color: white;
  padding: 60px 0;
}

.feedback__title {
  color: #c5c6c7;
  text-align: center;
  font-size: 46px;
  margin-bottom: 30px;
}

.feedback__list {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}

.feedback__item {
  flex-basis: 280px;
}

.feedback__text {
  font-style: italic;
  margin-bottom: 5px;
}

.feedback__author {
  font-weight: 600;
}

.our-selection {
  padding: 60px 0;
}

.our-selection__title {
  color: #c5c6c7;
  text-align: center;
  font-size: 46px;
  margin-bottom: 30px;
}

.our_selection__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.our_selection__item {
  flex: 1 0 45%;
  overflow: hidden;
  /* padding: 10px; */
  border: 3px solid #45a29e;
  border-radius: 10px;
}

.our_selection__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background-color: #0b0c10;
  padding: 10px 0 40px;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-footer {
  font-size: 30px;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.top-footer__list {
  display: flex;
  margin-left: 100px;
  gap: 0 40px;
  flex-wrap: nowrap;
}

.middle-footer__list {
  display: flex;
  align-items: center;
  gap: 0 50px;
}

.bottom-footer__copyright {
  color: white;
  text-align: right;
  font-size: 16px;
  color: #c5c6c7;
}

/* cart_button */

.cart-button {
    width: 65px;
    height: 45px;
    display: flex;
    gap: 0 10px;
    padding: 5px;
    border: 1px solid white;
    color: #0b0c10;
    border-radius: 20px;
    align-items: center;
    transition: background-color .5s, border .5s;
}

.cart-button:hover {
    background-color: grey;
    border: 1px solid grey;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid grey;
  width: 40%;
  border: 1px solid transparent;
  border-radius: 25px;
}

.close {
  float: right;
  background-color: transparent;
  border: none;
}

.close:hover,
.close:focus {
  color: #0b0c10;
}

.text-center {
  color: #0b0c10;
  text-align: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-btn {
  background-color: #FFCF40;
  border: 1px solid #FFCF40;
  border-radius: 25px;
  padding: 5px 20px;
  color:#0b0c10;
  transition: background-color .5s, border .5s;
}

.modal-btn:hover {
  background-color: #F4A900;
  border: 1px solid #F4A900;
}

/* included_cart */

.cart-info {
  color: #0b0c10;
}

.cart-info__title {
  width: 250px;
  margin-bottom: 10px;
}

.cart-info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}

.cart-total {
  color: #0b0c10;
  display: flex;
}


/* product-card */

.product-list {
  position: relative;
  display: flex;
  gap: 0 20px;
  margin-bottom: 40px;
}

.product-card {
  position: relative;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 10px;
}

.product-card__image {
  width: 100%;
  border-radius: 5px;
}

.product-card__title-link {
  font-size: 1.2em;
  margin-top: 10px;
  text-align: center;
  display: block;
  font-size: 30px;
}

.product-card__description {
  color: #666;
}

.product-card__price {
  margin-top: 10px;
}

.product-discount-price {
  color: red;
}

.product-card__discount-badge {
  position: absolute;
    top: 10px;
    right: 10px;
    background-color: #F4A900;
    color: #0b0c10;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 12px 12px 15px rgba(0, 0, 0, 1);
}

.product-card__price {
  display: flex;
  justify-content: space-between;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* max-width: 150px; */
  margin-bottom: 40px;
}

/* filter */

.filter {
  left: 0;
  right: 0;
  z-index: 1;
}

.filter__dropdown {
  margin-bottom: 30px;
  position: relative;
}

.filter__btn {
  background-color: white;
  color: #0b0c10;
  padding: 10px 20px;
  border: 1px solid #0b0c10;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s;
}

.filter__btn:hover {
  background-color: grey;
  border-color: grey;
}

.filter__form-menu {
  display: none;
  position: absolute;
  list-style-type: none;
  border: 3px solid white;
  background-color: white;
  color: #0b0c10;
  border-radius: 20px;
  max-width: 200px;
  padding: 20px;
  min-width: 300px;
}

.show-filter {
  display: block;
  top: 60px;
  right: 0;
  transition: top 0.5s;
}

.filter__top {
  margin-bottom: 20px;
}

.filter__bottom {
  margin-bottom: 20px;
}

.filter_apply-btn-inner {
  display: flex;
  justify-content: center;
}

.filter__apply-btn {
  background-color: #FFCF40;
  border: 1px solid #FFCF40;
  border-radius: 25px;
  padding: 10px 20px;
  color: #0b0c10;
  width: 200px;
  text-align: center;
  display: block;
  transition: background-color .5s, border .5s;
}


