{% load static %}


<div class="cart-info">
    <ul class="cart-info__list">
        {% for cart in carts %}

        <li class="cart-info__item">
            <h5 class="cart-info__title">{{ cart.product.title }}</h5>

            <span class="col p-0"><strong>{{ cart.products_price }} $</strong></span>
            <a href="{% url "cart:cart_remove" cart.id %}" class="remove-from-cart">
            <img class="mx-1" src="{% static " icons/trash3-fill.svg" %}"
            alt="Catalog Icon" width="16" height="16">
            </a>
        </li>

        {% endfor %}
    </ul>
    <div class="cart-total">
        <p class="cart-total__text">Total <strong>{{ carts.total_quantity }}</strong> item(s) in cart </p>
        <p class="cart-total__text1"><strong>{{ carts.total_price }}</p>
    </div>
</div>

