{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

<section class='catalog'>
{% block modal_cart %}
    {% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
<div class="catalog__container container">
    <div class="catalog__filter filter">
        <div class="filter__dropdown">
            <button class="filter__btn" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Filters
            </button>

            <form action="{% if request.GET.q %}{% url "goods:search" %}{% else %}{% url 'goods:category' slug_url %}{% endif %}" method="get" class="filter__form-menu" data-bs-theme="dark">
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on" {% if request.GET.on_sale == 'on' %}checked{% endif %}>
                    {% if request.GET.q %}
                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                    {% endif %}
                    <label class="form-check-label" for="flexCheckDefault">
                    Товары по акции
                    </label>
                    </div>
                    <p class="text-white mx-3 mt-3">Сортировать:</p>
                    <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault1">
                    По умолчанию
                    </label>
                    </div>
                    <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price" {% if request.GET.order_by == 'price' %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault2">
                    От дешевых к дорогим
                    </label>
                    </div>
                    <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price" {% if request.GET.order_by == '-price' %}checked{% endif %}>
                    <label class="form-check-label" for="flexRadioDefault3">
                    От дорогих к дешевым
                    </label>
                    </div>
                    <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>

                </div>
            </form>

                {% if request.GET.q %}
                <h3 class="mt-4">Результаты поиска по запросу {{ request.GET.q }}</h3>
                {% if not products %}
                    <h2 class="mt-4">По запросу ничего не найдено</h2>
                {% endif %}
                {% endif %}


                <ul class="product-list">
                    {% for product in products %}
                    <!-- Карта товара -->
                    <li class="product-list__card product-card">
                            {% if product.image %}
                                <img height='370' src="{{ product.image.url }}" class="product-card__image" alt="{{ product.title }}">
                            {% else %}
                                <img height='400' src="{% static "images/Not found image.png" %}" class="product-card__image" alt="{{ product.title }}">
                            {% endif %}
                            <div class="product-card__body">
                                <a class='product-card__title-link' href="{% url "goods:product" product.slug %}">
                                        {% autoescape off %}
                                            {% if product.headline %}
                                            {{ product.headline }}
                                            {% else %}
                                            {{ product.title }}
                                            {% endif %}
                                        {% endautoescape %}
                                </a>
                                <p class="product-card__description">
                                    {% autoescape off %}
                                        {% if product.headline %}
                                            {{ product.bodyline|truncatechars:87  }}
                                            {% else %}
                                            {{ product.description|truncatechars:87 }}
                                        {% endif %}
                                    {% endautoescape %}
                                </p>
                                <p class="product-card__id">id: {{ product.display_id }}</p>
                                <div class="product-card__price">
                                    {% if product.discount %}
                                        <p><strong>{{ product.sale_price }} $</strong></p>
                                        <p><s>{{ product.price }}</s> $</p>
                                        <span class="product-card__discount-badge">{{ product.discount }} %</span>
                                    {% else %}
                                        <p><strong>{{ product.sale_price }} $</strong></p>
                                    {% endif %}
                                    <a href="{% url "cart:cart_add" product.slug %}" class="product-card__add-to-cart">
                                        <img class="mx-1" src=" {% static "icons/cart-plus.svg" %}" alt="Catalog Icon"
                                            width="32" height="32">
                                    </a>
                                </div>
                    </li>
                    {% endfor %}
                </ul>


            </div>
            <!-- Pagination -->
            {% if products %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="pagination__item {% if not products.has_previous %}disabled{% endif %}">
                            <a class="pagination__link" href="{% if products.has_previous %}?{% change_params page=products.previous_page_number %}
                            {% else %} # {% endif %}">Previous</a>
                        </li>

                        {% for page in products.paginator.page_range %}
                            {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
                            <li class="pagination__item {% if products.number == page %}active{% endif %}">
                                <a class="pagination__link" href="?{% change_params page=page %}">{{ page }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}

                        <li class="pagination__item {% if not products.has_next %}disabled{% endif %}">
                            <a class="pagination__link" href="{% if products.has_next %}?{% change_params page=products.next_page_number %}
                                {% else %} # {% endif %}">Next</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
</div>
</section>
{% endblock  %}


